* {
    box-sizing: border-box;
    
}

body {
    background: linear-gradient(283.07deg, #121726 57.75%, #222C42 90.78%);
    mix-blend-mode: normal;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    margin: auto;
    max-width: 1533px;
}
/* section.header */
.header {
    background: #121423;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
    padding: 25px 0;
    position: relative;
}
.header-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border:none;
    background-color: #121423;
    background-image: url(../img/icons/search.svg);
    background-position: 1% 50%;
    background-repeat: no-repeat;
    width: 21px;
    margin-right: 43px;
    content: " ";
}
.header-search:focus {
    width: 200px;
    background-color: #fff;
    padding-left: 22px;
    border-radius: 5px;
    outline: none;
    height: 30px;
}
.header-nav-menu {
    margin:0 0 0 215px;
    padding: 0;
}
.header-nav-menu li {
    display: inline;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.header-nav-menu li:hover {
    color: #aaa;
}
.header-nav-menu a:not(:last-child) {
    margin-right: 25px;
}
.header-name {
    display: flex;
    align-items: center;
    margin-right: 173px;
}
.header-name-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 3px;
}
.button-main {
    height: 39px;
    width: 115px;
    background: #87E389;
    border-radius: 100px;
    border: none;
    outline: none;
}
.button-deposit-title {
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 105.66%;
}
.button-main:hover {
    background: rgb(84, 150, 85);
}
.header-buttons {
    display: flex;
    align-items: center;
}
.button-login {
    outline: none;
    display: flex;
    align-items: center;
    margin-left: 15px;
    height: 39px;
    width: 129px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #121423;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.button-login:hover {
    background: #252d69;
}
.button-login-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.button-login-image {
    padding-left: 17px;
    padding-right: 16px;
}
/* /.section.header */

/* section.promo */
.promo {
    display: flex;
    justify-content: space-between;
}
.signUp {
    height: 350px;
    width: 320px;
    /* border: 0.1px solid #fff;  */
    margin: auto;
}

.signUp-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 0 21px 0 24px;
    margin: 0 0 13px 0;
}
.signUp-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #8C91BA;
}
.subtitle {
    padding: 0 93px 0 96px;
}
.subtext {
    padding: 0 153px 0 156px;
}
.social-networks {
    padding: 11px 45px 0 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.social-networks img:not(:last-child) {
    margin-right: 15px;
}
.social-hover:hover {
    border: 4px solid #fff;
    border-radius: 50%
}
.signUp-logIn {
    margin-top: 14px;
}
.signUp-input {
    border: 1px solid #32448C;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    outline: none;
    background: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #8C91BA;
    width: 320px;
    height: 30px;
    padding: 9px 5px 6px 14px;
    margin-bottom: 13px;
}
.signUp-input::placeholder {
    color: #8C91BA;
}
.input-list {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #8C91BA;
    border: 1px solid #283670;
    width: 93px;
    height: 30px;
    background: transparent;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
}
.password {
    width: 213px;
    margin-right: 9px;
    background-image: url(../img/icons/eye.svg);
    background-repeat: no-repeat;
    background-position: 183px;    
}
.input-checkbox {
    background: #FFFFFF;
    border: 1px solid #C0C0C1;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 15px;
    height: 15px;
    margin: 0 4px 0 58px;
}
.checkOld, .checkRules {
    display: flex;
    align-items: center;
    justify-content: start;
}
.checkRules {
    margin-top: 6px;
}
.checkOld {
    margin-top: 13px;
}
.buttonRegister {
    padding: 0 97px 0 99px;
    margin-top: 23px;
}
.button-register {
    width: 124px;
    height: 30px;
}
.question {
        margin-top: 24px;
        width: 158px;
        margin: auto;
        text-align: center;
        padding-top: 15px;
}
.question-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #A2A5C1;
}
.question-text:hover {
    font-size: 15px;
}
.promocode {
    background-image: url(../img/icons/question.svg);
    background-repeat: no-repeat;
    background-position: 300px;
}
/* promo-deposit */
.promo-deposit {
    height: 492px;
    width: 1244px;
    background-image:  url(../img/content/promo.jpg);
    background-repeat: no-repeat;
    background-position: right;
    box-shadow: linear-gradient(270deg, #091024 0%, rgba(25, 32, 50, 0) 100%);
}
.arrow {
    border: 1px solid #595959;
    background: transparent;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    color: #fff;
    font-style: bold;
    outline: none;
}
.buttons-arrow {
    margin: 60px 0 0 68px;
}
.arrow:hover {
    border: 5px solid #595959;
    width: 40px;
    height: 40px;
    font-size: 14px;;
}
.buttons-arrow:not(:last-child)
{
    padding-right: 8px;
}
.deposit-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    color: #87E389;

    margin: 0 0 0 68px;
    padding-top: 21px;
}
.deposit-main-title {
    width: 373px;
    height: 76px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 21px 0 0 68px;
}
.deposit-block {
    margin: 15px 0 0 69px;
}
.deposit-hr {
    width: 94px;
   margin-left: 0;
}
.deposit-description {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.deposit-button {
    margin: 30px 0 0 66px;
}
.button-block-deposit {
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    line-height: 105.66%;
}
.block-deposit {
    width: 87px;
    height: 26px;
}
/* /.promo-deposit */
/* /.section.promo */
/* section.menu */
.menu-container {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    background: #121423;
}
.list-games {
    padding: 0;
}

.list-games li {
    display: inline;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.list-games li:hover {
    color: #aaa;
    font-size: 15px;
}
.list-games > a:not(:last-child) {
    margin-right: 40px;
}
.games-block {
    width: 1080px;
    height: 30px;
    border: 1px solid #aaa;
    position: absolute;
    top: 25%;
}
.allcategoy-image {
    margin-left: 8px;
}
.games-block-list {
    margin: 0;
}
.games-block-list li {
    display: inline;
    margin: 0;
}
.games-block-list li > p{
    display: inline;
    margin: 0;
}
.game-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top:25%;
    padding-left: 5px;
}
.input-search {
    width: 390px;
    border: 1px solid #898989;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: #121423;
    height: 31px;
    border-radius: 10px;
    outline: none;
    padding: 6px 0px 3px 10px;
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
    background-position: 355px;
}
/* /.section.menu */

/* section.filter-slots */
.filter {
    height: 63px;
    background: #121423;
}
.filter-container {
    height: 63px;
}
.filter-input-pos {
    padding-top:15px;
}
.filter-inputs {
    top:25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #8187AD;
}
.filter-inputs > span:hover {
    border: 1px solid #D73649;
    color: #fff;
    font-size: 14px;
}
.filter-input:first-child {
    border: 1px solid #D73649;
    color: #fff
}
.filter-input:last-child {
    border: 1px solid #D73649;
    color: #fff;
    background-image: url(../img/icons/more.svg);
    background-repeat: no-repeat;
    background-position:60px;
    padding-right: 37px;
}
.filter-input {
    border: 1px solid #282F4B;
    border-radius: 50px;
    line-height: 15px;
    margin: 0;
    padding: 7px 17px 8px 16px;
}
/* /.section-filter-slots */
/* Other options */
.title-slot {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.title-views {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #87E389;
}
.forafter:after {
    content: " >"
}
.forafter:hover {
    color: rgb(84, 150, 85);
    font-size:19px;
}
.section-title {
    margin-top: 50px;
    margin-bottom: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-views-link {
    color: #87E389;
}
/* /.Other options */
/* section-newGames */
.newsGames-container {
    display: flex;
    align-items: center;
}
.grid-newGames {
    display: grid;
    grid-template-columns: 252px 250px 250px 250px;
    grid-gap: 5px;
}
.monsters:hover {
    box-shadow: 0px -12px 14px #8BEB01;
    border-radius: 15px;
}
.game-zombi {
    margin-left: 8px;
    position: relative;
}
.game-zombi:hover {
    box-shadow: 0px 0px 83px #8BEB01;
    border-radius: 20px;
}
.button-block-image {
    border-radius: 17px;
    border: 5px solid #8BEB01;
    box-shadow: 0px 0px 14px #8BEB01;
}
.game-tag {
    position: absolute;
    right: 5px;
    top: 27px;
}
.tag-title {
    position: absolute;
    right: 15px;
    top: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.button-play {
    position: absolute;
    top:170px;
    right: 173px;
    width: 146px;
    height: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
}
.button-play-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;

    color: #000000;
}
.game-thor {
    border-radius: 17px;
    border: 5px solid #50FFE0;
    box-shadow: 0px 0px 14px #50FFDF;
}
.game-thor:hover {
    box-shadow: 0px 0px 83px #50FFDF;
}
.game-thor {
    margin-right: 8px;
    position: relative;
}
.game-elephants {
   border: 5px solid #4F00F7;
   box-shadow: 0px 0px 14px #4F00F7;
   border-radius: 17px;
}
.game-elephants:hover {
    box-shadow: 0px 0px 83px #4F00F7;
}
.game-elephants {
    margin-left: 8px;
    position: relative;
}

.jokerpro,
.PrettyKitty,
.kawaii_kitty,
.JungleJim {
    position: relative;
}
.jokerpro:hover,
.PrettyKitty:hover,
.kawaii_kitty:hover,
.JungleJim:hover {
    box-shadow: 0px 0px 83px #8BEB01;
    border-radius: 20px;
}
.mini-tag {
    top:20px;
    right: 0.5px;
}
.mini-title {
    top:22px;
    right: 6.5px;
}
/* ?.section-newGames */

/* payment */
.container-payment {
    margin: auto;
    max-width: 1045px;
}
.all-payment {
    margin-top: 101px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all-payment img:not(:nth-child(4)):hover {
    width: 100px;
}
footer {
    background: #121423;
}
/* /.payment */

/* sponsors */
.sponsors {
    padding-top: 35px;
}
.top-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.bot-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 35px;
    border-bottom: 2px solid #172146;
}
svg g>*:hover {
    fill: #fff;
}
svg > *:hover {
    fill: #fff;
}
/* /.sponsors */
/* footer */
.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-logo {
    margin-top: 30px;
}
.footer-name-title {
    font-style: normal;
    font-weight: bold;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 3px;
}
.other-logo {
    display: flex;
    margin-top:37px;
    align-items: center;
}
.stamp-old {
    margin-right: 17px;
}
.footer-menu {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin-top: 10px;
}
.footer-list a {
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #32448C;
}
.footer-list a:hover {
    color: rgb(131, 141, 182);
}
.footer-list  li {
    padding-top: 9px;
}
.footer-list a:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color: #FFFFFF;
}
.footer-list a:first-child:hover {
    color: #aaa;
}
.footer-notice {
    margin-top: 43px;
    margin-right: 24px;
    width: 387px;
    height: 213px;
}
.notice-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.notice {
    padding-top: 30px;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.dev {
    height: 111px;
    width: 895px;
}
.dev-notice {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}
/* /.footer */

/* adaptive */
@media (max-width: 1700px) {
    .container {
       max-width: 1000px;
    }
    .header-name-title {
    }
    body {
        background: linear-gradient(283.07deg, #121726 57.75%, #222C42 90.78%);
    }
    .filter {
    height: 130px;
    }
    .filter-inputs {
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around;
        height: 130px;
    }
    .filter-input-pos {
        padding-top: 0;
    }
    .filter-inputs span {
        padding-right: 50px;
        
    }
    .newsGames-container {
        flex-wrap: wrap;
    }
    .game-zombi,
    .game-thor,
    .game-elephants {
        margin: auto;
    }
    .menu-container {
        justify-content: space-between;
        align-content: space-around;
        height: 130px;
    }
    .list-games {
        display: flex;
        flex-wrap: wrap;
        height: 150px;
        align-content: space-evenly;
    }
    .menu-search {
        padding-left: 10px;
    }
    .newGames {
        padding-left:35px;
    }
    .block-notice {
        margin-left: 40px;
    }
    .dev {
        margin-top: 50px;
    }
}
@media (max-width: 1300px) {
    .comtainer {
        max-width: 700px;
    }
    .grid-newGames {
        grid-template-columns: 252px 250px;
        grid-gap: 5px;
        margin: auto;
    }
    .game-zombi,
    .game-thor,
    .game-elephants {
       padding: 0;
       margin: 0;
       margin: auto;
    }
    .header-container {
        flex-wrap: wrap;
    }
    .all-payment {
        flex-wrap: wrap;
    }
    .footer {
        flex-wrap: wrap;
    }
    .promo {
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .footer-menu {
        flex-wrap: wrap;
    }
    .promo-deposit {
        margin-top: 70px;
    }
    .dev {
        height: 111px;
    }
    .menu-container {
        height: 280px;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .menu-search {
        padding-left: 0px;
        padding-bottom: 100px;
        margin: auto;
    }
    .filter {
        height: 210px;
    }
    .filter-inputs {
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-evenly;
        height: 210px;
    }
}
@media (max-width: 1300px) {
    .container {
        max-width: 700px;
    }
    .header {
        padding-bottom: 20px;
    }
}
@media (max-width: 800px) {
    .container {
        max-width: 400px;
    }
    .grid-newGames {
            grid-template-columns: 252px;
    }
    .game-zombi {
        width: 400px;
        height: 312px;
        overflow: hidden;
        background-image: url(../img/games/zombie_horde.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 17px;
        border: 5px solid #8BEB01;
        box-shadow: 0px 0px 14px #8BEB01;
    }
    .game-thor {
        width: 400px;
        height: 312px;
        overflow: hidden;
        background-image: url(../img/games/zombie_horde.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 17px;
       
    }
    .game-elephants {
        width: 400px;
        height: 312px;
        overflow: hidden;
        background-image: url(../img/games/zombie_horde.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 17px;
        border: 5px solid #4F00F7;
        box-shadow: 0px 0px 14px #4F00F7;
        
    }
    .game-zombi,
    .game-elephants {
        margin-top:5px;
    }
    .game-thor {
        margin-bottom:5px;
    }
    .button-block-image {
        width: auto;
        height: 200%;
        display: none;
    }
    .payment {
        height: 195px;
    }
    .all-payment {
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
        justify-content: space-around;
        height: 192px;
        margin: 0;
    }
    .game-tag {
        right: 0;
    }
    .button-play {
        top: 140px;
        right: 117px;
    }
    .header-container {
        display: block;
    }
    .header {
        padding-bottom: 20px;
    }
    .header-name-title {
        font-size: 14px;
    }
    .header-nav-menu li {
        font-size: 13px;
    }
    .header-name {
        margin: auto;
        width: 150px;
    }
    .header-buttons {
        padding-top: 30px;
        margin: auto;
        width: 250px;
    }
}
@media (max-width: 500px) {
    .input-search {
        width: 290px;
        background-position: 260px;
    }
    .promo-deposit {
        display: none;
    }
    .container {
        max-width: 350px;
    }
    .signUp {
        height: 420px;
    }
    .footer-menu {
        margin-right: 35px;
    }
    .footer-logo {
        margin: auto;
        padding-top: 25px;
    }
    .all-payment {
        margin-top: 35px;
    }
    .header {
        padding-bottom: 20px;
    }
    .header-name-title {
        font-size: 14px;
    }
    .header-nav-menu li {
        font-size: 13px;
    }
    .header-name {
        margin: auto;
    }
    .header-buttons {
        padding-top: 30px;
        margin: auto;
    }
     .game-zombi
    .game-elephants {
        width: 300px;
        height: 275px;
    }
}
@media (max-width: 400px) {
    .container {
        max-width: 300px;
    }
    .button-play {
        top: 96px;
        right: 89px;
    }
    .game-zombi,
    .game-elephants,
    .game-thor {
        width: 300px;
        height: 235px;
    }
    .game-tag {
        right: 1px;
    }
    .filter-inputs {
        height: 165px;
    }
    .button-play {
        width: 117px;
    }
    .tag-title {
        font-size: 12px;
    }
    .button-play-title {
        font-size: 15px;
    }
    .header {
        padding-bottom: 20px;
    }
    .header-name-title {
        font-size: 14px;
    }
    .header-nav-menu li {
        font-size: 13px;
    }
    .header-name {
        margin: auto;
    }
    .header-buttons {
        padding-top: 30px;
        margin: auto;
    }
}

/* /.adaptive */